<main style="background-color: #90caf9;">
    <div class="container">
            
      <h1>Projects List</h1>
      
      <blockquote>
          Click on the project name for more details! 
          Click on <i class="material-icons tiny">sort</i> to sort by that column, or items in <i class="material-icons tiny">filter_list</i> columns to filter by that item.
        </blockquote>
        <div class="row">
            <div class="col g-lg-3 col-lg-2"> <i class="left material-icons">sort</i>Sorted by: Date / Time</div> 
            <div class="col g-lg-3 offset-lg-6 ">
                <!-- Position diffeently (left) for mobile -->
                <div><i class="left material-icons">filter_list</i>Filter: None</div>
            </div>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Project</th>
                  <th scope="col">Group</th>
                  <th scope="col">Platform</th>
                  <th scope="col">Email Address</th>
                </tr>
              </thead>
              <tbody>
                {{#each projects}}
                    <tr>
                    <th scope="row"><a href="/projects/{{project_id}}">{{project_name}}</a></th>
                    <td>{{project_creators}}</td>
                    <td>{{project_type}}</td>
                    <td>{{project_email}}</td>
                    </tr>
                {{/each}}
              </tbody>
            </table>
            <a href="/createProjectForm" class="btn text-white" style="background-color: #d84315;">Add Your Project</a>
      </div>
  </main>